.vscode/settings.json
headHunter_bits/__pycache__/utils.cpython-38.pyc
headHunter_bits/__pycache__/Trainers.cpython-38.pyc
headHunter_bits/__pycache__/models.cpython-38.pyc
multiStageSeg/__pycache__/models.cpython-38.pyc
multiStageSeg/__pycache__/Trainers.cpython-38.pyc
multiStageSeg/__pycache__/utils.cpython-38.pyc
multiStageSeg/__pycache__/deepmind_metrics.cpython-38.pyc
multiStageSeg/__pycache__/utils.cpython-36.pyc

roughSeg/__pycache__/models.cpython-38.pyc
roughSeg/__pycache__/Trainers.cpython-38.pyc
roughSeg/__pycache__/utils.cpython-38.pyc
roughSeg/__pycache__/utils.cpython-36.pyc
roughSeg/__pycache__/deepmind_metrics.cpython-38.pyc
roughSeg/__pycache__/
__pycache__/models.cpython-38.pyc
__pycache__/trainer.cpython-38.pyc
__pycache__/model_parts.cpython-38.pyc

ViT/runs/*
ViT/utils/__pycache__/*
ViT/model/__pycache__/*
__pycache__/*
/ONNX/*.onnx
preprocessing_bits.ipynb
__pycache__/model_archive.cpython-38.pyc
*.json
resampling.py

/data/
*.pytorch
/ONNX/outputs/

*__pycache__*
*.nii.gz
archive/roughSeg/check_missing_labels.ipynb
